---
---

@import "{{ site.theme }}";

h1 {
	margin-bottom: 0rem;
	margin-top: 0rem;
	color: red;
	margin-block-start: 0em;
	margin-block-end: 0em;
}

h2 {
	margin-bottom: 0rem;
	margin-top: 0rem;
	color: yellow;
	margin-block-start: 0em;
	margin-block-end: 0em;
}